server:  
  port: ${PORT:0}
  
eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.int}}
    
mananagment:
  endpoints:
    web:
      exposure:
        include: '*'
        
#spring:
#  zipkin:
#    sender:
#      type: RABBIT
#  rabbitmq:
#    host: localhost
#    port: 15762
#    username: guest
#    password: guest
          
#spring.rabbitmq.host=localhost
#spring.rabbitmq.port=5672
#spring.rabbitmq.username=guest
#spring.rabbitmq.password=guest